#AboutMe > div {
    border: plum solid 2px;
    border-radius: 5%;
    background-color: rgba(80,2,80, 0.5);
    align-items: center;
}
#AboutMe h2 {
    text-align: center;
    text-decoration: underline;
}

#AboutMe p {
    padding: 15px;
}